* {
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px 0;
}
.logo {
    font-size: 22px;
    font-weight: bolder;
}
nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    font-size: 18px;
}
.hero {
    background-color: rgb(242, 247, 246);
    height: 65vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
}
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-left .welcome {
    font-size: 60px;
}
.hero-left .dev-intro {
    font-size: 40px;
}
.hero-right img {
    border-radius: 15px;
}
.button-container {
    padding: 10px 0;
}
.btn {
    background-color: rgb(242, 247, 246);
    padding: 7px 10px;
    margin: 0 2px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    transition: all 0.5s;
}
.btn:hover {
    color: rgb(242, 247, 246);
    background-color: black;
    border: 2px solid rgb(242, 247, 246);
    border-radius: 4px;
}
.project {
    display: flex;
    align-items: center;
    border-top: black;
    padding: 20px 0;
}
.project-image img {
    width: 50vw;
    margin: 35px;
    border-radius: 25px;
}
.project-info {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.project-info .description {
    font-size: 28px;
    padding: 10px 0;
    font-weight: bold;
}
.project-info p {
    padding: 12px 0;
}
.row-reverse {
    flex-direction: row-reverse;
}