* {
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px 0;
}
.logo {
    font-size: 22px;
    font-weight: bolder;
}
nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    font-size: 18px;
}
.hero {
    background-color: rgb(242, 247, 246);
    height: 65vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
}
.hero-left .welcome {
    font-size: 60px;
}
.hero-left .dev-intro {
    font-size: 40px;
}